* {
    box-sizing: border-box;
}

body {
    background-color: black;
}

#head
#title {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    width: 75%;
    border: 3px dotted white;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    translate: -50px;
}

#title span {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 250%;
}

#title img {
    background-color: transparent;
    width: 40px;
    height: 40%;
   
}
