* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@keyframes rotate {
    33% {transform: rotate(10deg)}
    66% {transform: rotate(-10deg)}
}

body {
    background-color: black;
}

#head {
    width: 100%;
    height: 100px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
}

#title {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: inherit;
    width: 75%;
    border: 3px solid white;
    border-radius: 45px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    border-collapse: collapse;
    background-image: linear-gradient(
  45deg,
  hsl(240deg 100% 20%) 0%,
  hsl(289deg 100% 21%) 11%,
  hsl(315deg 100% 27%) 22%,
  hsl(329deg 100% 36%) 33%,
  hsl(337deg 100% 43%) 44%,
  hsl(357deg 91% 59%) 56%,
  hsl(17deg 100% 59%) 67%,
  hsl(34deg 100% 53%) 78%,
  hsl(45deg 100% 50%) 89%,
  hsl(55deg 100% 50%) 100%
);
}

#title span {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4cqw;
}

#title img {
    background-color: transparent;
    width: 40px;
    height: 40%;
    border-radius: 50%;
    border: 3px solid white;
    animation: rotate 5s infinite;
}

#burgerinfo {
    position: sticky;
    position: -webkit-sticky;
    top: 100px;
    width: 70%;
    height: 50px;
    display: flex;
    border: 3px solid white;
    border-radius: 30px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    z-index: 1;
}

#burgerinfo span {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 115%;
}

#burgerinfo a {
    text-decoration: none;
}

#mainflex {
    display: flex;
    flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 1250px;
    border: 3px dotted transparent;
    border-radius: 25px;
    margin-top: 50px;
    z-index: -1;
}

#welcomeflex {
    display: flex;
    flex-flow: column;
    width: 400px;
    height: 250px;
    border: 3px solid white;
    border-radius: 45px;
    margin-left: 15px;
    margin-top: -10px;
    rotate: -3deg;
}

#welcomeflex h1 {
    color: white;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    z-index: inherit;
    border-top: 3px solid white;
}

#welcomeflex img {
    width: 150px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -25px;
}

#featuredflex {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 400px;
    height: 900px;
    border: 3px solid white;
    border-radius: 45px;
    margin-left: auto;
    margin-right: 15px;
    margin-top: 50px;
}

#featuredflex h2 {
    color: white;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

#featuredflex a {
    text-decoration: none;
    color: white;
    margin-top: 0px;
}

#featuredflex button {
    width: 150px;
    height: 30px;
    border: 3px solid white;
    border-radius: 45px;
    color: white;
    background-color: black;
}

#featuredflex button:hover {
    cursor: pointer;
}

#featuredserver {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 350px;
    height: 200px;
    border: 3px solid white;
    border-radius: 25px;
    margin-top: 45px;
    rotate: 2deg;
}

#featuredserver img {
    height: 75px;
    width: 75px;
    border: 3px solid white;
    border-radius: 50%;
    border-collapse: collapse;
    margin-top: 10px;
}

#featuredserver h3 {
    font-size: 25px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 35px;
}

#featuredserver a {
    text-decoration: none;
    color: white;
}

#featuredserver button {
    width: 175px;
    height: 35px;
    border: 3px solid white;
    border-radius: 45px;
    color: white;
    background-color: black;
}

#featuredserver button:hover {
    cursor: pointer;
}

#featuredserver2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 350px;
    height: 200px;
    border: 3px solid white;
    border-radius: 25px;
    margin-top: 45px;
    rotate: -2deg;
}

#featuredserver2 img {
    height: 75px;
    width: 75px;
    border: 3px solid white;
    border-radius: 50%;
    border-collapse: collapse;
    margin-top: 10px;
}

#featuredserver2 h3 {
    font-size: 25px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 35px;
}

#featuredserver2 a {
    text-decoration: none;
    color: white;
}

#featuredserver2 button {
    width: 175px;
    height: 35px;
    border: 3px solid white;
    border-radius: 45px;
    color: white;
    background-color: black;
}

#featuredserver2 button:hover {
    cursor: pointer;
}

#featuredserver3 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 350px;
    height: 200px;
    border: 3px solid white;
    border-radius: 25px;
    margin-top: 45px;
    rotate: 2deg;
}

#featuredserver3 img {
    height: 75px;
    width: 75px;
    border: 3px solid white;
    border-radius: 50%;
    border-collapse: collapse;
    margin-top: 10px;
}

#featuredserver3 h3 {
    font-size: 25px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 35px;
    width: 225px;
}

#featuredserver3 a {
    text-decoration: none;
    color: white;
}

#featuredserver3 button {
    width: 175px;
    height: 35px;
    border: 3px solid white;
    border-radius: 45px;
    color: white;
    background-color: black;
}

#featuredserver3 button:hover {
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    #title {
        width: 100%;
    }
    #title span {
    font-size: 5cqw;
    }
    #burgerinfo {
        width: 95%;
    }
    #mainflex {
        width: 100%;
    }
    #welcomeflex {
        width: 350px;
        height: 200px;
        margin-right: auto;
        margin-left: auto;
    }
    
    #welcomeflex h1 {        
        font-size: 22px;
    }
    
    #welcomeflex img {
        width: 150px;
        height: 75px;
    }

    #featuredflex {       
        width: 350px;
        height: 750px;
        margin-left: auto;
        margin-right: auto;
    }
    
    #featuredflex h2 {        
        font-size: 25px;       
    }
     
    #featuredflex button {
        width: 125px;
        height: 30px;       
    }
       
    #featuredserver {        
        width: 300px;
        height: 150px;       
    }
    
    #featuredserver img {
        height: 70px;
        width: 70px;       
    }
    
    #featuredserver h3 {
        font-size: 23px;        
    }
   
    #featuredserver button {
        width: 150px;
        height: 30px;        
    }
      
    #featuredserver2 {        
        width: 300px;
        height: 150px;      
    }
    
    #featuredserver2 img {
        height: 70px;
        width: 70px;         
    }
    
    #featuredserver2 h3 {
        font-size: 23px;       
    }
       
    #featuredserver2 button {
        width: 150px;
        height: 30px;     
    }
    
    #featuredserver3 {
        width: 300px;
        height: 150px; 
    }
    
    #featuredserver3 img {
        height: 70px;
        width: 70px; 
    }
    
    #featuredserver3 h3 {
        font-size: 23px;
        width: 100px;
        margin-top: 5px;
    }
    
    #featuredserver3 button {
        width: 150px;
        height: 30px; 
    }

    #featuredserver3 a {
        margin-top: -20px;  
    }
}

@media screen and (min-width: 800px) {
    #title span {
        font-size: 40px;
    }
}

@media screen and (max-width: 500px) {
    #mainflex {
        width: 100%;
    }
    #burgerinfo span {
        font-size: 3.5cqw;
    }
}

@media screen and (max-width: 1250px) {
    #mainflex {
        display: block;
        height: 1400px;
    }
}
