* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@keyframes rotate {
    33% {transform: rotate(10deg)}
    66% {transform: rotate(-10deg)}
}

body {
    background-color: black;
}

#head {
    width: 100%;
    height: 100px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
}

#title {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: inherit;
    width: 75%;
    border: 3px solid white;
    border-radius: 45px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    border-collapse: collapse;
    background-image: linear-gradient(
  45deg,
  hsl(240deg 100% 20%) 0%,
  hsl(289deg 100% 21%) 11%,
  hsl(315deg 100% 27%) 22%,
  hsl(329deg 100% 36%) 33%,
  hsl(337deg 100% 43%) 44%,
  hsl(357deg 91% 59%) 56%,
  hsl(17deg 100% 59%) 67%,
  hsl(34deg 100% 53%) 78%,
  hsl(45deg 100% 50%) 89%,
  hsl(55deg 100% 50%) 100%
);
}

#title span {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4cqw;
}

#title img {
    width: 80px;
    height: 80%;
    border: 4px solid white;
    border-radius: 50%;
    animation: rotate 5s infinite;
}

#burgerinfo {
    position: sticky;
    position: -webkit-sticky;
    top: 100px;
    width: 70%;
    height: 50px;
    display: flex;
    border: 3px solid white;
    border-radius: 30px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
}

#burgerinfo span {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 115%;
}

#burgerinfo a {
    text-decoration: none;
}

#mainflex {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 1000px;
    border: 3px dotted white;
}

#namebox {
    display: block;
    width: 400px;
    height: 300px;
    border: 5px solid white;
    border-radius: 25px;
    margin-top: 50px;
    margin-left: 25px;
    rotate: -3deg;
}

#nameboxtop {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100px;
    border-bottom: 5px solid white;
}

#nameboxtop h1 {
    color: white;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#bannerbox {
    width: 300px;
    height: 175px;
    border: 5px solid white;
    border-radius: 25px;
    margin-top: 55px;
    margin-left: 75px;
}

#bannerbox img {
    border-radius: 25px;
    height: 100%;
    width: 100%;
}

#communitybox {
    display: flex;
    flex-flow: row wrap;
    width: 400px;
    height: 300px;
    border: 5px solid white;
    border-radius: 25px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: 25px;
    rotate: 3deg;
}

#communityboxtop {
    display: flex;
    width: 100%;
    height: 100px;
    border-bottom: 5px solid white;
    align-items: center;
    justify-content: center;
}

#communityboxtop h2 {
    color: white;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#communityboxleft {
    width: 50%;
    display: flex;
    height: 190px;
    border-right: 5px solid white;
    flex-flow: column;
    align-items: center;
}

#communityboxleft span {
    margin-top: 20px;
    color: white;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#communityboxright {
    width: 50%;
    display: flex;
    height: 190px;
    flex-flow: column;
    align-items: center;
}

#communityboxright img {
    margin-top: auto;
    margin-bottom: auto;
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

#communityboxright a {
    margin-bottom: auto;
    color: white;
}

#communityboxright span {
    color: white;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#giveawaybox {
    display: flex;
    width: 400px;
    height: 300px;
    border: 3px dotted white;
    border-radius: 25px;
    margin-top: 0px;
    margin-right: auto;
    margin-left: 25px;
    rotate: -3deg;
}

#staffbox {
    width: 400px;
    height: 300px;
}

@media screen and (max-width: 800px) {
    #title {
        width: 100%;
    }
    #title span {
    font-size: 5cqw;
    }
    #burgerinfo {
        width: 95%;
    }
}

@media screen and (min-width: 800px) {
    #title span {
        font-size: 40px;
    }
}

@media screen and (max-width: 500px) {
    #burgerinfo span {
        font-size: 3.5cqw;
    }
}

@media screen and (max-width: 900px) {
    #mainflex {
        display: block;
        height: 1500px;
    }
    #communitybox {
        margin-top: 125px;
    }
    #giveawaybox {
        margin-top: 125px;
    }
}

@media screen and (min-width: 1250px) {
    #mainflex {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
}
