* {
    box-sizing: border-box;
}

@keyframes rotate {
    33% {transform: rotate(10deg)}
    66% {transform: rotate(-10deg)}
}

body {
    background-color: black;
}

#head {
    width: 100%;
    height: 100px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

#title {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: inherit;
    width: 75%;
    border: 3px solid white;
    border-radius: 45px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    border-collapse: collapse;
    background-image: linear-gradient(to right, red, lightskyblue);
}

#title span {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4cqw;
}

#title img {
    width: 80px;
    height: 80%;
    border: 4px solid white;
    border-radius: 50%;
    animation: rotate 5s infinite;
}

#burgerinfo {
    position: sticky;
    position: -webkit-sticky;
    top: 100px;
    width: 70%;
    height: 50px;
    display: flex;
    border: 3px solid white;
    border-radius: 30px;
    background-image: linear-gradient(to right, red, lightskyblue);
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
    align-items: center;
}

#burgerinfo span {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 115%;
}

#burgerinfo a {
    text-decoration: none;
}

#mainlistflex {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 1000px;
    border: 3px dotted white;
    margin-left: auto;
    margin-right: auto;
}

#serverflex {
    display: flex;
    flex-flow: column;
    width: 300px;
    height: 250px;
    border: 3px solid white;
    border-radius: 25px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgb(14, 132, 14), lightskyblue);
    z-index: -1;
}

#serverflex img {
    width: 75px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: 3px solid white;
    border-radius: 50%;
}

#serverflex span {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#serverflex a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 800px) {
    #title {
        width: 100%;
    }
    #title span {
    font-size: 5cqw;
    }
    #burgerinfo {
        width: 95%;
    }
    #mainlistflex {
        width: 90%;
    }
    #featuredflex {
      width: 15cqw;
    }
}

@media screen and (min-width: 800px) {
    #title span {
        font-size: 40px;
    }
    #mainlistflex {
        width: 75%;
    }
}

@media screen and (min-width: 1000) {
    #mainlistflex {
        width: 80%;
    }
}

@media screen and (min-width: 1500) {
    #mainlistflex {
        width: 85%;
    }
}

@media screen and (max-width: 500px) {
    #burgerinfo span {
        font-size: 3.5cqw;
    }
    #serverflex {
        width: 250px
    }
    #serverflex span {
        font-size: large;
    }
}

@media screen and (max-width: 700px) {
    #mainlistflex {
        display: block;
        height: 1750px;
    }
    #serverflex {
        margin-top: 25px;
    }
}
