* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@keyframes rotate {
    33% {transform: rotate(10deg)}
    66% {transform: rotate(-10deg)}
}

body {
    background-color: black;
}

#head {
    width: 100%;
    height: 100px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
}

#title {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: inherit;
    width: 75%;
    border: 3px solid white;
    border-radius: 45px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    border-collapse: collapse;
    background-image: linear-gradient(
  45deg,
  hsl(240deg 100% 20%) 0%,
  hsl(289deg 100% 21%) 11%,
  hsl(315deg 100% 27%) 22%,
  hsl(329deg 100% 36%) 33%,
  hsl(337deg 100% 43%) 44%,
  hsl(357deg 91% 59%) 56%,
  hsl(17deg 100% 59%) 67%,
  hsl(34deg 100% 53%) 78%,
  hsl(45deg 100% 50%) 89%,
  hsl(55deg 100% 50%) 100%
);
}

#title span {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4cqw;
}

#title img {
    width: 80px;
    height: 80%;
    border: 4px solid white;
    border-radius: 50%;
    animation: rotate 5s infinite;
}

#burgerinfo {
    position: sticky;
    position: -webkit-sticky;
    top: 100px;
    width: 70%;
    height: 50px;
    display: flex;
    border: 3px solid white;
    border-radius: 30px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
}

#burgerinfo span {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 115%;
}

#burgerinfo a {
    text-decoration: none;
}

#mainlistflex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 1000px;
    border: 3px dotted transparent;
    margin-left: auto;
    margin-right: auto;
}

.serverflex {
    display: flex;
    flex-flow: column;
    width: 300px;
    height: 250px;
    border: 3px solid white;
    border-radius: 25px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}

.serverflex img {
    width: 75px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: 3px solid white;
    border-radius: 50%;
}

.serverflex span {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.serverflex a {
    text-decoration: none;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.serverflex button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 3px solid white;
    border-radius: 25px;
    color: white;
    background-color: transparent;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
}

.serverflex button:hover {
    cursor: pointer;
}

#serverflexbottom {
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 100px;
}
#membercountdiv {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 50px;
    margin-right: auto;
    margin-left: 5%;
    margin-top: auto;
    margin-bottom: auto;
}

#membercountdiv img {
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 0;
    margin-top: 5%;
}

#membercountdiv span {
    color: white;
    margin-top: 2px;
    font-size: large;
}

#discorddiv {
    display: flex;
    width: 50px;
    margin-left: auto;
    margin-right: 5%;
    margin-top: auto;
    margin-bottom: auto;
    flex-flow: column;
    align-items: center;
}

#discorddiv img {
    width: 45px;
    height: 35px;
    border: none;
    border-radius: 0;
    margin-top: 5%;
}

#discorddiv span {
    color: white;
    margin-top: 2px;
    font-size: large;
    margin-left: 10%;
}

@media screen and (max-width: 800px) {
    #title {
        width: 100%;
    }
    #title span {
    font-size: 5cqw;
    }
    #burgerinfo {
        width: 95%;
    }
    #mainlistflex {
        width: 90%;
    }
}

@media screen and (min-width: 800px) {
    #title span {
        font-size: 40px;
    }
    #mainlistflex {
        width: 75%;
    }
}

@media screen and (min-width: 1000) {
    #mainlistflex {
        width: 80%;
    }
}

@media screen and (min-width: 1500) {
    #mainlistflex {
        width: 85%;
    }
}

@media screen and (max-width: 500px) {
    #burgerinfo span {
        font-size: 3.5cqw;
    }
    .serverflex {
        width: 250px
    }
    .serverflex span {
        font-size: large;
    }
}

@media screen and (max-width: 700px) {
    #mainlistflex {
        display: flex;
        height: 1750px;
    }
    .serverflex {
        margin-top: 25px;
    }
}
